In [115]:
import openai
import numpy as np
import pandas as pd
import faiss
import math

In [35]:
openai.api_key = "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"

MODEL = "text-embedding-ada-002"

In [176]:
clientes = [
    {
        "descricao": "Restaurante popular na Zona Sul de São Paulo",
        "cnae": "5611",
        "faturamento": 80_000,
        "cep": "04763-070",  # Santo Amaro
        "lat": -23.6231,
        "lon": -46.7003
    },
    {
        "descricao": "Supermercado médio no interior paulista",
        "cnae": "4711",
        "faturamento": 250_000,
        "cep": "13070-110",  # Campinas
        "lat": -22.9020,
        "lon": -47.0562
    },
    {
        "descricao": "Oficina mecânica na Zona Leste de São Paulo",
        "cnae": "4520",
        "faturamento": 60_000,
        "cep": "08230-030",  # São Miguel Paulista
        "lat": -23.5619,
        "lon": -46.4984
    },
    {
        "descricao": "Loja de roupas em shopping no Rio de Janeiro",
        "cnae": "4781",
        "faturamento": 80_000,
        "cep": "22640-102",  # BarraShopping
        "lat": -22.9784,
        "lon": -43.2336
    },
    {
        "descricao": "Padaria em bairro nobre de Belo Horizonte",
        "cnae": "1091",
        "faturamento": 95_000,
        "cep": "30140-080",  # Savassi
        "lat": -19.9350,
        "lon": -43.9336
    },
    {
        "descricao": "Distribuidora atacadista na Grande Curitiba",
        "cnae": "4639",
        "faturamento": 400_000,
        "cep": "81070-300",  # Curitiba – Portão
        "lat": -25.4382,
        "lon": -49.2733
    },
    {
        "descricao": "Farmácia de rede no centro de Fortaleza",
        "cnae": "4771",
        "faturamento": 180_000,
        "cep": "60060-240",  # Centro
        "lat": -3.7300,
        "lon": -38.5267
    },
    {
        "descricao": "Consultório odontológico em Recife",
        "cnae": "8630",
        "faturamento": 35_000,
        "cep": "52041-030",  # Casa Amarela
        "lat": -8.0476,
        "lon": -34.8770
    },
    {
        "descricao": "Fast food em shopping de Brasília",
        "cnae": "5611",
        "faturamento": 150_000,
        "cep": "70836-010",  # Shopping Iguatemi
        "lat": -15.8267,
        "lon": -47.9218
    },
    {
        "descricao": "Loja de construção em bairro popular de Porto Alegre",
        "cnae": "4744",
        "faturamento": 100_000,
        "cep": "91720-110",  # Restinga
        "lat": -30.0346,
        "lon": -51.2177
    }
]

consulta = {
    "descricao": "Lanchonete movimentada na periferia de São Paulo",
    "cnae": "5611",  # Igual ao restaurante e ao fast food
    "faturamento": 250_000,
    "cep": "04763-160",  # Localização próxima ao restaurante (Zona Sul)
    "lat": -23.6242,
    "lon": -46.7011
}

In [178]:
frases_base = [c["descricao"] for c in clientes]

response = openai.embeddings.create(
    model="text-embedding-ada-002",
    input=frases_base
)

vetores = np.array([d.embedding for d in response.data])
vetores

array([[-8.77822377e-03, -1.50651531e-02,  1.62635185e-03, ...,
        -1.16608199e-02, -1.22673390e-02, -2.23433841e-02],
       [ 1.14957895e-02,  1.27330925e-02,  2.01110858e-02, ...,
        -8.34279461e-04, -2.12501902e-02, -2.46282239e-02],
       [-1.40406853e-02,  7.51945050e-03,  1.85215722e-05, ...,
         2.69419607e-03, -3.93703999e-03, -3.41494679e-02],
       ...,
       [ 6.76910672e-03,  5.78567060e-03,  2.12907568e-02, ...,
         1.73218883e-04, -4.19556908e-03, -1.78167988e-02],
       [-4.15622853e-02,  7.81805068e-03, -2.99859438e-02, ...,
        -8.87653604e-03, -7.79125420e-03, -2.80565545e-02],
       [-2.04554405e-02,  9.85780917e-03, -1.10778669e-02, ...,
        -1.68082453e-02,  1.22735894e-03, -3.07091195e-02]])

In [179]:
d = vetores.shape[1]
index = faiss.IndexFlatL2(d)
index.add(vetores)

In [180]:
response = openai.embeddings.create(
    model="text-embedding-ada-002",
    input=consulta["descricao"]
)
embedding = np.array(response.data[0].embedding, dtype='float32').reshape(1, -1)
embedding

array([[-0.01029962,  0.00711118, -0.00404513, ...,  0.00213529,
         0.00017714, -0.03060901]], dtype=float32)

In [181]:
D, I = index.search(embedding, k=10)

In [193]:
resultados = []

for pos, idx in enumerate(I[0]):
    dist = D[0][pos]
    score = 1 / (1 + dist)

    resultados.append({
        "Rank": pos+1,
        "Frase Base": frases_base[idx],
        "Distância Semântica": round(dist, 4),
        "Score Semântico": round(score, 4)
    })

pd.DataFrame(resultados)

,Rank,Frase Base,Distância Semântica,Score Semântico
0,1,Restaurante popular na Zona Sul de São Paulo,0.1503,0.8694
1,2,Supermercado médio no interior paulista,0.2204,0.8194
2,3,Fast food em shopping de Brasília,0.2536,0.7977
3,4,Padaria em bairro nobre de Belo Horizonte,0.2618,0.7925
4,5,Oficina mecânica na Zona Leste de São Paulo,0.2737,0.7851
5,6,Loja de construção em bairro popular de Porto ...,0.2866,0.7772
6,7,Distribuidora atacadista na Grande Curitiba,0.3136,0.7613
7,8,Loja de roupas em shopping no Rio de Janeiro,0.3162,0.7597
8,9,Farmácia de rede no centro de Fortaleza,0.3172,0.7592
9,10,Consultório odontológico em Recife,0.3705,0.7297

In [185]:
def encontrar_cliente(descricao):
    for c in clientes:
        if c["descricao"] == descricao:
            return c

def haversine(lat1, lon1, lat2, lon2):
    R = 6371
    
    phi1     = math.radians(lat1)
    phi2     = math.radians(lat2)
    d_phi    = math.radians(lat2 - lat1)
    d_lambda = math.radians(lon2 - lon1)

    a = math.sin(d_phi / 2)**2 + math.cos(phi1) * math.cos(phi2) * math.sin(d_lambda / 2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    
    return R * c

def score_geo_exp(dist_km):
    if dist_km <= 5:
        return 1.00 * np.exp(-np.log(1.00 / 0.75) / (  5 -   0) * (dist_km -   0))
    elif dist_km <= 30:
        return 0.75 * np.exp(-np.log(0.75 / 0.50) / ( 30 -   5) * (dist_km -   5))
    elif dist_km <= 100:
        return 0.50 * np.exp(-np.log(0.50 / 0.25) / (100 -  30) * (dist_km -  30))
    elif dist_km <= 500:
        return 0.25 * np.exp(-np.log(0.25 / 0.01) / (500 - 100) * (dist_km - 100))
    else:
        return 0.00

def score_faturamento(fat1, fat2, forma='quadratica', lambda_=3):
    fator = min(fat1, fat2) / max(fat1, fat2)

    if forma == 'quadratica':
        return round(fator ** 1.2, 4)
    elif forma == 'exponencial':
        return round(np.exp(-lambda_ * (1 - fator)), 4)
    else:
        return 0.0

In [199]:
resultados = []

for pos, idx in enumerate(I[0]):
    c = encontrar_cliente(frases_base[idx])

    lat = c["lat"]
    lon = c["lon"]
    cnae = c["cnae"]
    fat = c["faturamento"]
    cep = c["cep"]
    
    dist = D[0][pos]
    score = 1 / (1 + dist)

    dist_geo = haversine(lat, lon, consulta["lat"], consulta["lon"])
    score_geo = score_geo_exp(dist_geo)

    score_fat = score_faturamento(consulta["faturamento"], fat)
    score_cnae = (consulta["cnae"] == cnae) * 1

    score_total = 0.5 * score + 0.2 * score_geo + 0.15 * score_fat + 0.15 * score_cnae
    
    resultados.append({
        "CNAE": cnae,
        "CEP": cep,
        "Frase Base": frases_base[idx],
        "Distância Semântica": round(dist, 4),
        "Score Semântico": round(score, 4),
        "Distância geo": round(dist_geo, 1),
        "Score geo": round(score_geo, 4),
        "Faturamento": round(fat),
        "Score Fat": round(score_fat, 4),
        "Score CNAE": score_cnae,
        "Score Total": round(score_total, 4),
        "Vetor": vetores[idx].tolist()
    })

df_resultados = pd.DataFrame(resultados)
df_resultados

,CNAE,CEP,Frase Base,Distância Semântica,Score Semântico,Distância geo,Score geo,Faturamento,Score Fat,Score CNAE,Score Total,Vetor
0,5611,04763-070,Restaurante popular na Zona Sul de São Paulo,0.1503,0.8694,0.1,0.9916,80000,0.2548,1,0.8212,"[-0.008778223767876625, -0.015065153129398823,..."
1,4711,13070-110,Supermercado médio no interior paulista,0.2204,0.8194,88.1,0.2812,250000,1.0000,0,0.6160,"[0.011495789512991905, 0.012733092531561852, 0..."
2,5611,70836-010,Fast food em shopping de Brasília,0.2536,0.7977,876.4,0.0000,150000,0.5417,1,0.6301,"[-0.0415622852742672, 0.007818050682544708, -0..."
3,1091,30140-080,Padaria em bairro nobre de Belo Horizonte,0.2618,0.7925,499.9,0.0100,95000,0.3131,0,0.4452,"[0.005718629341572523, 0.00604596920311451, 0...."
4,4520,08230-030,Oficina mecânica na Zona Leste de São Paulo,0.2737,0.7851,21.8,0.5713,60000,0.1804,0,0.5339,"[-0.014040685258805752, 0.007519450504332781, ..."
5,4744,91720-110,Loja de construção em bairro popular de Porto ...,0.2866,0.7772,841.8,0.0000,100000,0.3330,0,0.4386,"[-0.020455440506339073, 0.00985780917108059, -..."
6,4639,81070-300,Distribuidora atacadista na Grande Curitiba,0.3136,0.7613,329.2,0.0395,400000,0.5689,0,0.4739,"[-0.01960195228457451, -0.003996898885816336, ..."
7,4781,22640-102,Loja de roupas em shopping no Rio de Janeiro,0.3162,0.7597,361.3,0.0305,80000,0.2548,0,0.4242,"[-0.03718845546245575, 0.00026178083498962224,..."
8,4771,60060-240,Farmácia de rede no centro de Fortaleza,0.3172,0.7592,2380.0,0.0000,180000,0.6742,0,0.4807,"[-0.00455486448481679, -0.00040038072620518506..."
9,8630,52041-030,Consultório odontológico em Recife,0.3705,0.7297,2141.8,0.0000,35000,0.0945,0,0.3790,"[0.006769106723368168, 0.005785670597106218, 0..."

In [201]:
cliente_consultado = {
    "CNAE": consulta["cnae"],
    "CEP": consulta["cep"],
    "Frase Base": consulta["descricao"],
    "Distância Semântica": 0.0,
    "Score Semântico": 1.0,
    "Distância geo": 0.0,
    "Score geo": 1.0,
    "Faturamento": round(consulta["faturamento"]),
    "Score Fat": 1.0,
    "Score CNAE": 1,
    "Score Total": 1.0,
    "Vetor": embedding.flatten().tolist()  # ou vetor_consulta[0].tolist()
}

df_consulta = pd.DataFrame([cliente_consultado])
df_consulta

,CNAE,CEP,Frase Base,Distância Semântica,Score Semântico,Distância geo,Score geo,Faturamento,Score Fat,Score CNAE,Score Total,Vetor
0,5611,04763-160,Lanchonete movimentada na periferia de São Paulo,0.0,1.0,0.0,1.0,250000,1.0,1,1.0,"[-0.010299621149897575, 0.007111183367669582, ..."

In [203]:
df_resultados.to_excel('resultados.xlsx', index=False)
df_resultados.to_csv('resultados.csv', index=False)

df_consulta.to_excel('consulta.xlsx', index=False)
df_consulta.to_csv('consulta.csv', index=False)