In [194]:
import openai
import numpy as np
import pandas as pd
import faiss
import math

In [196]:
openai.api_key = "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"

In [232]:
frases_base = [
    "Mercado",
    "Cafeteria",
    "Oficina",
    "Restaurante"
]

consulta = "Padaria"

In [234]:
response = openai.embeddings.create(
    model="text-embedding-3-small",
    input=frases_base
)

vetores = np.array([d.embedding for d in response.data], dtype='float32')
vetores_normalizados = vetores / np.linalg.norm(vetores, axis=1, keepdims=True)
print(vetores_normalizados)

[[ 0.00401763 -0.00880271  0.00520488 ...  0.01530963 -0.00816645
   0.00624454]
 [-0.0295479  -0.03866833  0.0447678  ...  0.009552   -0.00780416
  -0.00704532]
 [-0.01265959  0.02364993  0.03704398 ... -0.02076546 -0.02052509
   0.02833718]
 [-0.00713631 -0.0001309  -0.00740106 ...  0.01487271  0.01623761
  -0.00196793]]

In [236]:
index = faiss.IndexFlatIP(1536)
index.add(vetores_normalizados)

In [238]:
response = openai.embeddings.create(
    model="text-embedding-3-small",
    input=consulta
)

embedding = np.array(response.data[0].embedding, dtype='float32').reshape(1, -1)
embedding_normalizado = embedding / np.linalg.norm(embedding)
embedding_normalizado

array([[-0.01278845, -0.01596179,  0.02911869, ...,  0.01129686,
        -0.01879047,  0.00373492]], dtype=float32)

In [244]:
D, I = index.search(embedding_normalizado, k=4)

In [246]:
resultados = []

for pos, idx in enumerate(I[0]):
    score = D[0][pos]

    resultados.append({
        "Rank": pos+1,
        "Frase Base": frases_base[idx],
        "Score Semântico": round(score, 4)
    })

pd.DataFrame(resultados)

   Rank   Frase Base  Score Semântico
0     1  Restaurante           0.4913
1     2    Cafeteria           0.4820
2     3      Mercado           0.3806
3     4      Oficina           0.3800

In [248]:
response = openai.embeddings.create(
    model="text-embedding-ada-002",
    input=frases_base
)

vetores = np.array([d.embedding for d in response.data])
vetores

array([[-0.01547258, -0.01354187,  0.00905482, ..., -0.00591994,
        -0.01199461, -0.00731248],
       [-0.01738196, -0.00132218, -0.00365379, ..., -0.00779739,
        -0.01049801, -0.01324497],
       [-0.02634428,  0.00483555, -0.0083266 , ...,  0.00811361,
         0.00244939, -0.00933165],
       [-0.01626837,  0.00198371, -0.00056867, ...,  0.00274247,
         0.00065789, -0.00842997]])

In [250]:
d = vetores.shape[1]
index = faiss.IndexFlatL2(d)
index.add(vetores)

In [260]:
response = openai.embeddings.create(
    model="text-embedding-ada-002",
    input=consulta
)
embedding = np.array(response.data[0].embedding, dtype='float32').reshape(1, -1)
embedding

array([[ 8.0129448e-03,  1.2580456e-02,  8.0195451e-03, ...,
         1.3035887e-02,  6.6984241e-05, -2.2124706e-02]], dtype=float32)

In [262]:
D, I = index.search(embedding, k=4)

In [264]:
resultados = []

for pos, idx in enumerate(I[0]):
    dist = D[0][pos]
    score = 1 / (1 + dist)

    resultados.append({
        "Rank": pos+1,
        "Frase Base": frases_base[idx],
        "Distância Semântica": round(dist, 4),
        "Score Semântico": round(score, 4)
    })

pd.DataFrame(resultados)

   Rank   Frase Base  Distância Semântica  Score Semântico
0     1  Restaurante               0.2433           0.8043
1     2    Cafeteria               0.2720           0.7861
2     3      Mercado               0.3043           0.7667
3     4      Oficina               0.3144           0.7608